<ul>
  <li>How can a loving God send anyone to hell?</li>
  <ul>
    <li>So, do you believe in Hell?</li>
    <ul>
      <li>Yes, I think there is a Hell for really bad people</li>
      <ul>
        <li>So how would you define a bad person?</li>
        <ul>
          <li>Someone who does more bad thing than good</li>
          <li>Someone who kills a lot of people like Hitler, Stalin or Jack the Ripper</li>
        </ul>
        <li>No, actually I don't</li>
      </ul>
      <li>What do you think a good God is like?</li>
      <ul>
        <li>Fair god</li>
        <li>No hell</li>
        <li>Loving God</li>
      </ul>
      <li>Do you think that we all deserve to go to Heaven?</li>
    </ul>
    <li>I am so fed up of Brexit</li>
    <li>How can a good God allow so much suffering?</li>
    <li>Do you believe in life after death?</li>
    <li>Isn't it arrogant to say only Christians have eternal life?</li>
    <li>Religious people are all hypocrites</li>
  </ul>